## Data Collection
Making the BLS datasets easier to get to

In [4]:
import pandas as pd
import requests
import json
import os 
from bs4 import BeautifulSoup as bs 
import re
from collections import OrderedDict as od
from pypdf import PdfReader

In [110]:
os.chdir("C:/Users/marvi/OneDrive/Documents/GitHub/Scraping-and-APIs")
os.getcwd()

'C:\\Users\\marvi\\OneDrive\\Documents\\GitHub\\Scraping-and-APIs'

#### Setting the stage

In [6]:
headers = {
    'User-Agent': 'Mozilla/5.0 (iPad; CPU OS 12_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148'
}
#response = requests.get("https://download.bls.gov/pub/time.series/sm/sm.industry", headers = headers)

##### [Source](https://stackoverflow.com/questions/55848037/split-values-in-list-based-on-multiple-separators-python) for below solution

In [102]:
x = response.text
separator = ["\r","\t","\n"]

for sep in separator:
    x = x.replace(sep, "|")
x = x.split("|")
del x[0:2]

emp_types = {}
emp_types["industry_code"] = []
emp_types["industry_name"] = []

for i in range(0, (len(x)-2)):
    if i % 3 == 0:
        emp_types["industry_code"].append(x[i+1])
        emp_types["industry_name"].append(x[i+2])

emp_types = pd.DataFrame(emp_types)
emp_types

In [19]:
emp_types.to_excel("bls_survey_codes.xlsx", sheet_name= "Industry Codes")

NameError: name 'emp_types' is not defined

In [11]:
def separating(x, num):
    x = x
    
    if num == 1:
        separator = ["\r","\t","\n"]
    elif num == 2:
        separator = [" ", "\n"]

    for sep in separator:
        x = x.replace(sep, "|")
    x = x.split("|")
    
    if num == 1:
        del x[0:2]

    return(x)

In [12]:
response = requests.get("https://download.bls.gov/pub/time.series/la/la.area", headers = headers)
l = response.text

In [13]:
separator = ["\r","\t","\n"]
for sep in separator:
    l = l.replace(sep, "")

list_states = re.findall("[AST]+[0-6][0-9]0{11}+[A-Za-z |\sA-Za-z]+[\d0T]", l)

In [17]:
area_codes = {}
area_codes["area_codes"] = []
area_codes["states"] = []
area_codes["state_code"] = []

for element in list_states:
    var = str(element)
    area_codes["area_codes"].append(var[:16])
    area_codes["states"].append(var[16:-1])
    area_codes["state_code"].append(var[3:5])

area_codes = pd.DataFrame(area_codes)
area_codes

          area_codes                states state_code
0   AST0100000000000               Alabama         01
1   AST0200000000000                Alaska         02
2   AST0400000000000               Arizona         04
3   AST0500000000000              Arkansas         05
4   AST0600000000000            California         06
5   AST0800000000000              Colorado         08
6   AST0900000000000           Connecticut         09
7   AST1000000000000              Delaware         10
8   AST1100000000000  District of Columbia         11
9   AST1200000000000               Florida         12
10  AST1300000000000               Georgia         13
11  AST1500000000000                Hawaii         15
12  AST1600000000000                 Idaho         16
13  AST1700000000000              Illinois         17
14  AST1800000000000               Indiana         18
15  AST1900000000000                  Iowa         19
16  AST2000000000000                Kansas         20
17  AST2100000000000              Kentucky         21
18  AST2200000000000             Louisiana         22
19  AST2300000000000                 Maine         23
20  AST2400000000000              Maryland         24
21  AST2500000000000         Massachusetts         25
22  AST2600000000000              Michigan         26
23  AST2700000000000             Minnesota         27
24  AST2800000000000           Mississippi         28
25  AST2900000000000              Missouri         29
26  AST3000000000000               Montana         30
27  AST3100000000000              Nebraska         31
28  AST3200000000000                Nevada         32
29  AST3300000000000         New Hampshire         33
30  AST3400000000000            New Jersey         34
31  AST3500000000000            New Mexico         35
32  AST3600000000000              New York         36
33  AST3700000000000        North Carolina         37
34  AST3800000000000          North Dakota         38
35  AST3900000000000                  Ohio         39
36  AST4000000000000              Oklahoma         40
37  AST4100000000000                Oregon         41
38  AST4200000000000          Pennsylvania         42
39  AST4400000000000          Rhode Island         44
40  AST4500000000000        South Carolina         45
41  AST4600000000000          South Dakota         46
42  AST4700000000000             Tennessee         47
43  AST4800000000000                 Texas         48
44  AST4900000000000                  Utah         49
45  AST5000000000000               Vermont         50
46  AST5100000000000              Virginia         51
47  AST5300000000000            Washington         53
48  AST5400000000000         West Virginia         54
49  AST5500000000000             Wisconsin         55
50  AST5600000000000               Wyoming         56

In [18]:
area_codes.to_excel("bls_survey_codes.xlsx", sheet_name= "State Codes")